.button {
  background-color: gainsboro;
}
.tellus{
    text-align: center;
}
.search {
  position: relative;
  text-align: center;
}

.input {
  position: absolute;
}

.inputForm {
  position: absolute;
  width: 100%;
  margin: 10px;
  z-index: 1;
}
